<%= render "layouts/search" %>

<div class = "row mb-3">
  <div class = "col-sm-3">
    <h3 class ="text-center mx-1" style="background-color: #d3d3d3;"><b>タグデータ</b></h3>
  </div>
</div>
<div class = "row">
  <div class = "col">
    <table class='table table-hover table-inverse'>
      <thead>
        <tr class="table-active">
          <th>登録日</th>
          <th>名前</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%= tag.name %></td>
            <td><%= link_to "編集", edit_admin_tag_path(tag.id), class:"btn btn-success" %></td>
            <td><%= link_to "削除", admin_tag_path(tag.id), method: :delete, class:"btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>