<!DOCTYPE html>
<html>
  <head>
    <title>DwcPf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main>
      <div style = "background-color: #ffe4c4;">
        <p class="notice text-center text-success"><%= notice %></p>
        <p class="alert text-center text-danger"><%= alert %></p>
        <div class = "container" >
          <%= yield %>
        </div>
      </div>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
